.board {
  background: #666;
  padding: 20px;
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.board-square {
  background: #8CF;
  border: 1px solid #222;
  width: 24px;
  height: 24px;
  font-size: 0.6em;
  cursor: crosshair
}

.board-square-miss {
  background: #DEF;
}
.board-square-alive.board-square-revealed {
  background: #AAA;
}
.board-square-hit, .board-square-sunk.board-square-obscured {
  background: #D22;
}
.board-square-sunk.board-square-revealed {
  background: #112;
}

.board-square:hover {
  background: #4DF
}