.board {
  background: #444;
  /* padding: 20px; */
  display: inline-grid;
  grid-template-columns: auto repeat(10, 1fr) auto;
  grid-template-rows: auto repeat(10, 1fr) auto;
}

.board-square {
  border: 1px solid #222;
  width: 24px;
  height: 24px;
  /* font-size: 0.6em; */
  cursor: crosshair;
}

.board-square>span {
  color: rgba(0,0,0,0);
  font-size: 0.6em;
  pointer-events: none;
}

.board-square-obscured:hover>span {
  color: rgba(0,0,0,0.5);
  font-size: 4em;
  z-index: 2;
  position: relative;
  left: -0.4em;
  top: -0.4em;
  transition: all 0.1s;
  
}

.board-square-empty, .board-square-alive.board-square-obscured {
  background: #ADF;
}
.board-square-empty:hover, .board-square-alive.board-square-obscured:hover {
  background: #4DF;
}

.board-square-miss {
  background: #DEF;
}
.board-square-miss:hover {
  background: #FFF;
}

.board-square-alive.board-square-revealed {
  background: #999;
}
.board-square-alive.board-square-revealed:hover {
  background: #BBB;
}

.board-square-hit, .board-square-sunk.board-square-obscured {
  background: #D22;
  animation: pulse-square-hit 2s ease-in-out infinite;
}

@keyframes pulse-square-hit {
  0% {
    background-color: #D22;
  }
  50% {
    background-color: #C22;
  }
  100% {
    background-color: #D22;
  }
}
.board-square-hit:hover, .board-square-sunk.board-square-obscured:hover {
  background: #F66;
}

.board-square-sunk.board-square-revealed {
  background: #112;
}
.board-square-sunk.board-square-revealed:hover {
  background: #224;
}

.board-square-ship-removed {
  background: #7BC;
}

.board-square-screened {
  background: #666;
  cursor: not-allowed;
  animation: none;
}
.board-square-screened:hover {
  background: #666;
}

.board-square-follow-cursor {
  background: #0A5;
  opacity: 0.6;
  pointer-events: none;
}

#ship-following-cursor {
  position: absolute;
  cursor: all-scroll;
  display: grid;
  pointer-events: none;
}

.board-label {
  color: #AAA;
  font-size: 0.6em;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 2px;
}
