.board {
  background: #444;
  padding: 20px;
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.board-square {
  border: 1px solid #222;
  width: 24px;
  height: 24px;
  font-size: 0.6em;
  cursor: crosshair
}
.board-square-empty, .board-square-alive.board-square-obscured {
  background: #ADF;
}
.board-square-empty:hover, .board-square-alive.board-square-obscured:hover {
  background: #4DF;
}

.board-square-miss {
  background: #DEF;
}
.board-square-miss:hover {
  background: #FFF;
}

.board-square-alive.board-square-revealed {
  background: #999;
}
.board-square-alive.board-square-revealed:hover {
  background: #BBB;
}

.board-square-hit, .board-square-sunk.board-square-obscured {
  background: #D22;
}
.board-square-hit:hover, .board-square-sunk.board-square-obscured:hover {
  background: #F66;
}

.board-square-sunk.board-square-revealed {
  background: #112;
}
.board-square-sunk.board-square-revealed:hover {
  background: #224;
}

.board-square-follow-cursor {
  background: #0A5;
}

#ship-following-cursor {
  position: absolute;
  cursor: all-scroll;
}