.log-base, #ready-button {
  background-color: #223;
  border: 10px solid #444;
  border-style: inset;
  color: #DDD;
  list-style-type: none;
  box-shadow: 0px 0px 2px 2px #000 inset;
}

#shot-log, #opponent-ships, #player-ships {
  height: 268px;
  overflow-y: scroll;
  padding: 5px;
  margin: 0;
}

#shot-log > li.shot-log-sunk {
  color: #F42;
  font-weight: bold;
}
#shot-log > li.shot-log-victory {
  color: #2D2;
  font-weight: bold;
}

#opponent-ships, #player-ships {
  display: grid;
  height: 100%;
}

.ship-list {
  margin: auto;
  list-style-type: none;
  padding: 5px;
  text-align: right;
  font-size: 1.2em
}

.ship-list > li.ship-list-sunk {
  color: #F42;
}

#message-area {
  display: grid;
  height: 100%;
}
#message-area > div {
  margin: auto;
  padding: 5px;
}

#ready-button {
  font-size: 1.5em;
}

#ready-button.go {
  background-color: #0C6;
}
#ready-button.stop {
  background-color: #C20;
}
#ready-button[disabled] {
  background-color: #AAA;
}



/* Shot log scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Shot log scrollbar track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0.2); 
}

/* Shot log scrollbar track */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0.4); 
}