* {
  /* font-family: 'Share Tech Mono', monospace; */
  font-family: 'VT323', monospace;
  box-sizing: border-box;
}
body {
  /* background-color: #222; */
  padding: 0px;
}

#game-container {
  display: grid;
  grid-template-columns: 1fr 200px auto 200px 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
    ". opponent-ships opponent-board shot-log ."
    ". player-ships player-board message-area ."
    ". player-ships player-board ready-button ."
}

#opponent-board {
  grid-area: opponent-board;
}
#player-board {
  grid-area: player-board;
}
#opponent-ships {
  grid-area: opponent-ships;
}
#player-ships {
  grid-area: player-ships;
}
#shot-log {
  grid-area: shot-log;
}
#message-area {
  grid-area: message-area;
}
#ready-button-container {
  grid-area: ready-button;
}

#background-image {
  position:absolute;
  filter: saturate(0.2) brightness(0.2);
  height: 100%;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -10;
}