#game-container {
  display: grid;
  grid-template-columns: 1fr 200px 300px 200px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    ". opponent-ships opponent-board shot-log ."
    ". player-ships player-board message-area ."
    ". player-ships player-board ready-button ."
}

#game-container > * {
  border: 1px solid red;
}

#opponent-board {
  grid-area: opponent-board;
}
#player-board {
  grid-area: player-board;
}
#opponent-ships {
  grid-area: opponent-ships;
}
#player-ships {
  grid-area: player-ships;
}
#shot-log {
  grid-area: shot-log;
}
#message-area {
  grid-area: message-area;
}
#ready-button {
  grid-area: ready-button;
}