.board {
  background: #444;
  /* padding: 20px; */
  display: inline-grid;
  grid-template-columns: auto repeat(10, 1fr) auto;
  grid-template-rows: auto repeat(10, 1fr) auto;
  margin: auto;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2) inset;
}

.board-square {
  position:relative;
  border: 1px solid #222;
  width: 24px;
  height: 24px;
  cursor: crosshair;
  user-select: none;
}

.board-square>span {
  color: rgba(0,0,0,0);
  font-size: 0.6em;
  pointer-events: none;
  position: absolute;
}

.board-square-obscured:hover>span {
  color: rgba(0,0,0,0.5);
  font-size: 4em;
  z-index: 2;
  left: -0.4em;
  top: -0.4em;
  transition: all 0.1s;
  
}

.board-square-empty, .board-square-alive.board-square-obscured {
  background: #345;
}
.board-square-empty:hover, .board-square-alive.board-square-obscured:hover {
  background: #156;
}

.board-square-miss {
  background: #567;
}
.board-square-miss:hover {
  background: #FFF;
}

.board-square-alive.board-square-revealed {
  background: #BBB;
}
.board-square-alive.board-square-revealed:hover {
  background: #DDD;
}

.board-square-hit, .board-square-sunk.board-square-obscured {
  background: #D22;
  animation: pulse-square-hit 2s ease-in-out infinite;
}

@keyframes pulse-square-hit {
  0% {
    background-color: #D22;
  }
  50% {
    background-color: #C22;
  }
  100% {
    background-color: #D22;
  }
}
.board-square-hit:hover, .board-square-sunk.board-square-obscured:hover {
  background: #F66;
}

.board-square-sunk.board-square-revealed {
  background: #112;
}
.board-square-sunk.board-square-revealed:hover {
  background: #224;
}

.board-square-ship-removed {
  background: #678;
}

.board-square-screened {
  background: #444;
  cursor: not-allowed;
  animation: none;
}
.board-square-screened:hover {
  background: #444;
}

.board-square-follow-cursor {
  background: #DDD;
  opacity: 0.6;
  pointer-events: none;
}

#ship-following-cursor {
  position: absolute;
  cursor: all-scroll;
  display: grid;
  pointer-events: none;
  z-index: 5;
}

.board-label {
  color: #AAA;
  font-size: 0.6em;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 2px;
}


.board-square-explode-miss, 
.board-square-explode-hit, 
.board-square-explode-sunk {
  position: absolute;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  top: -4px;
  left: -4px;
  z-index: 3;
  opacity: 0;
}

.board-square-last-clicked:not(.board-square-screened) {
  filter: brightness(1.2);
  box-shadow: 0 0 15px 4px rgba(255,255,255,0.3);
  z-index: 3;
}

.board-square-explode-miss {
  background-color: #0AF;
  box-shadow: 0 0 10px 10px #0aF;
  animation: explode-one 0.2s 1;
}
.board-square-explode-hit {
  background-color: #F00;
  box-shadow: 0 0 10px 10px #F00;
  animation: explode-one 0.2s 1;
}
.board-square-explode-sunk {
  background-color: #F00;
  box-shadow: 0 0 10px 10px #F00;
  animation: explode-multi 1.3s 1;
}

@keyframes explode-one {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes explode-multi {
  0% {
    top: initial;
    left: initial;
    transform: scale(0.5);
    opacity: 1;
    background-color: #FF0;
    box-shadow: 0 0 10px 10px #FF0;
  }
  15% {
    top: initial;
    left: initial;
    transform: scale(6);
    opacity: 0.5;
    background-color: #F80;
    box-shadow: 0 0 10px 10px #F80;
  }
  16% {
    top: 10px;
    left: 0px;
    transform: scale(0.5);
    opacity: 1;
    background-color: #F00;
    box-shadow: 0 0 10px 10px #F00;
  }
  30% {
    top: 10px;
    left: 0px;
    transform: scale(7);
    opacity: 0.5;
    background-color: #800;
    box-shadow: 0 0 10px 10px #800;
  }
  31% {
    top: -10px;
    left: 0px;
    transform: scale(0.5);
    opacity: 1;
    background-color: #DDD;
    box-shadow: 0 0 10px 10px #DDD;
  }
  45% {
    top: -10px;
    left: 0px;
    transform: scale(8);
    opacity: 0.5;
    background-color: #999;
    box-shadow: 0 0 10px 10px #999;
  }
  46% {
    top: 20px;
    left: -5px;
    transform: scale(0.5);
    opacity: 1;
    background-color: #FF0;
    box-shadow: 0 0 10px 10px #FF0;
  }
  60% {
    top: 20px;
    left: -5px;
    transform: scale(9);
    opacity: 0.5;
    background-color: #F80;
    box-shadow: 0 0 10px 10px #F80;
  }
  61% {
    top: initial;
    left: initial;
    transform: scale(0.5);
    opacity: 0.5;
    background-color: #F00;
    box-shadow: 0 0 10px 10px #F00;
  }
  100% {
    top: initial;
    left: initial;
    transform: scale(10);
    opacity: 0;
    background-color: #800;
    box-shadow: 0 0 10px 10px #800;
  }
}