/* Common container styling for each area */
.log-base, #ready-button-container {
  background-color: #223;
  border: 10px solid #444;
  border-style: inset;
  color: #DDD;
  list-style-type: none;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5) inset;
}

#shot-log, #opponent-ships, #player-ships {
  height: 286px;
  overflow-y: scroll;
  padding: 5px;
  margin: 0;
}

/* Log of all shots taken */
#shot-log > li.shot-log-hit {
  color: #FA0;
}
#shot-log > li.shot-log-sunk {
  color: #F42;
  font-weight: bold;
}
#shot-log > li.shot-log-victory {
  color: #2D2;
  font-weight: bold;
}

#opponent-ships, #player-ships {
  display: grid;
  height: 100%;
}

/* Each player's list of remaining ships */
.ship-list {
  margin: auto;
  list-style-type: none;
  padding: 5px;
  text-align: right;
  font-size: 1.2em
}

.ship-list > li.ship-list-sunk {
  color: #F42;
}

/* The message area (eg. 'Player 1 take your shot') */
#message-area {
  display: grid;
  height: 100%;
}
#message-area > div {
  margin: auto;
  padding: 5px;
}

/* The ready/finished/action button */
#ready-button {
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  border-width: 10px;
  border-style: outset;
}
#ready-button:active {
  transform: translateY(2px);
  border-style: inset;
}
#ready-button:focus {
  outline: none;
}

#ready-button.go {
  background-color: #0C6;
  border-color: #0D7;
}
#ready-button.stop {
  background-color: #C20;
  border-color: #D30;
}
#ready-button[disabled] {
  background-color: #AAA;
  border-color: #BBB;
}

/* The player's name input field */
#name-input-container {
  border-style: outset;
  padding: 20px;
}

/* Shot log scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0.2); 
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0.4); 
}